.task{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.list {
    width: 80%;
}

.delete {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-size: 30px;
    margin-right: 20px;
}